body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.dropzone {
    min-height: 100px;
    width: 150px;
    margin: 5px;
    display: inline-block;
    background-color: burlywood;
}